<div class="header">
    <div routerLink="home" class="header-logo">
      <span>Postes </span> 
    </div>
    <div class="header-menu" *ngIf="estaLogado()" >
     
      <div class="menu-item">
        <nb-icon routerLink="home" id="home" icon="home"></nb-icon>
        <label for="home">Home</label>
      </div>
      <div class="menu-item">
        <nb-icon routerLink="postes/usuario" id="postes_usuario" icon="file-text-outline"></nb-icon>
        <label for="postes_usuario">Seus Postes</label>
      </div>
      <div class="menu-item">
        <nb-icon routerLink="usuarios" id="usuarios" icon="person-outline"></nb-icon>
        <label for="usuarios">Usuários</label>
      </div>
      <div class="menu-item">
        <nb-icon (click)="logout()"  id="left" icon="corner-up-left"></nb-icon>
        <label for="left">Sair</label>
      </div>

    </div>
  </div>
