<div class="container-list">

    <nb-list class="list" nbInfiniteList listenWindowScroll [threshold]="500" (bottomThreshold)="carregarProximosPostes()">
        <nb-list-item class="list-iten" *ngFor="let poste of postes">

  
                    <nb-card status="info" class="card-poste">
                        <nb-card-header class="header">
                            <span>
                                {{poste.nomeDeUsuario}} <nb-icon icon="file-outline"></nb-icon>
                            </span>
                            <div class="options">
                                <button nbButton (click)="aprovarPoste(poste)" status="success" nbTooltip="UpVote" nbTooltipStatus="success" >
                                    <nb-icon icon="file-add-outline"></nb-icon>
                                </button>
                                <button 
                                nbButton (click)="deletarPoste(poste)" [disabled]="!permitirExcluir()"
                                status="danger" nbTooltip="Excluir" nbTooltipStatus="danger" >
                                    <nb-icon icon="trash-outline"></nb-icon>
                                </button>
                            </div>
                        </nb-card-header>
                        <nb-card-body class="card-container">
                            <span>UpVotes : {{ poste.numeroDeAprovacoes }}</span>
                            <span>Poste </span>
                            <p>{{ poste.texto}}</p>
                        </nb-card-body>

                    </nb-card>

      
                

        </nb-list-item>
    </nb-list>

</div>